:root {
    --original-white: #f2f2f2;
    --original-emphasis: #E7EF91;
}

/* general tags */
body {
    background-color: #282828;
    color: var(--original-white);

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

main {
    background-color: black;
    display: flex;
    margin-inline: auto;
    justify-content: center;
    position: relative;
}

header {
    display: flex;
    align-items: center;
    gap: 3.5rem;
    margin-inline: auto;
    width: 100%;
    background-color: black;
    padding: 1.5% 4%;
    flex-grow: 1;
}

section {
    /* 400px */
    margin-bottom: 25rem;
}

img {
    width: 100%;
}

/* general classes */
.max-w-1440 {
    max-width: 1440px;
}

.max-w-1080 {
    max-width: 1080px;
}

.max-w-960 {
    max-width: 960px;
}

/* shadow */
.header-text__shadow--white-lg {
    text-shadow: rgba(255, 255, 255, 0.25) 0.5rem 0.5rem 0.25rem;
}

.content__shadow-white--lg {
    box-shadow: rgba(255, 255, 255, 0.25) 0.5rem 0.5rem 0.25rem;
}

/* arrow */
.arrow__container {
    margin-inline: auto;
}

.arrow__image {
    transform: translateY(5rem);
    width: 2rem;
}

/* text-emphasis */
.description__text--emphasis {
    font-size: 1.5rem;
    color: var(--original-emphasis);
}

.description__text--sm {
    font-size: 0.8rem;
}

/* header */
.header__main {
    text-wrap: nowrap;
}

.header__main-text {
    font-size: 7.5rem;
    font-weight: 900;
}

.header__line--horizontal {
    height: 4px;
    width: 100%;
    flex-grow: 1 !important;
    background-color: var(--original-white);
}

/* main content */
/* side */
#side {
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    position: absolute;
    left: 0;
}

.side__text--lg {
    writing-mode: vertical-lr;
    /* 180px */
    font-size: 11.25rem;
    font-weight: 800;
    width: max-content;
    height: max-content;
    line-height: 9rem;
    vertical-align: bottom;
    transform: translateX(-2rem);
    color: #282828;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* details section */
#details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details__main {
    display: flex;
    gap: 4rem;
}

.details__image-container {
    width: 40%;
}

.details__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    width: 60%;
}

.details__text--name {
    font-size: 3.5rem;
    line-height: 3.3rem;
    border-bottom: 2px solid var(--original-white);
}

.details__text--name-en {
    margin-left: 2rem;
    font-size: 2.5rem;
}

.details__text--description {
    line-height: 2rem;
}

.details__text--motto {
    font-size: 2rem;
}

/* section general */
.section__header-container {
    display: flex;
    text-wrap: nowrap;
    align-items: center;
    gap: 3rem;
    margin-bottom: 5rem;
}

.section-header__text {
    font-size: 5rem;
}

.favorite__main {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
}

.favorite__row-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.favorite__images-container {
    display: flex;
    align-items: center;
    gap: 3rem;
}

/* favorite section */
.favorite__image {
    width: 50%;
}

.favorite__text {
    margin: auto;
    text-align: center;
}

/* personality section */
.personality__main {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.personality__text {
    text-align: center;
}

/* products section */
.products__main {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 4.5rem;
}

.products__row-container {
    display: flex;
    align-items: center;
    gap: 3.5rem;
}

.products__image-container {
    width: 50%;
}

.products__text-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.products__text--name {
    font-size: 1.5rem;
}