:root {
    --original-white: #f2f2f2;
    --original-yellow: #E7EF91;
}

/* general tags */
body {
    background-color: #282828;
    color: var(--original-white);

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

main {
    background-color: black;
    display: flex;
    margin-inline: auto;
    justify-content: center;
    flex-direction: column;
}

#content__black {
    z-index: 1;
    position: relative;
}

header {
    display: flex;
    align-items: center;
    gap: 3.5rem;
    margin-inline: auto;
    width: 100%;
    background-color: black;
    padding: 1.5% 4%;
    flex-grow: 1;
}

footer {
    text-align: center;
    color: var(--original-white);
    background-color: black;
    margin-inline: auto;
    padding: 1rem;
    font-size: 1rem;
}

section {
    /* 400px */
    margin-bottom: 25rem;
}

img {
    width: 100%;
}

/* general classes */
.max-w-1440 {
    max-width: 1440px;
}

.max-w-1080 {
    max-width: 1080px;
}

.max-w-960 {
    max-width: 960px;
}

.lg-hidden {
    display: none;
}

/* shadow */
.header-text__shadow--white-lg {
    text-shadow: rgba(255, 255, 255, 0.25) 0.5rem 0.5rem 0.25rem;
}

.header-text__shadow--black-lg {
    text-shadow: rgba(0, 0, 0, 0.25) 0.5rem 0.5rem 0.25rem;
}

.content__shadow-white--lg {
    box-shadow: rgba(255, 255, 255, 0.25) 0.5rem 0.5rem 0.25rem;
}

.content__shadow-black--lg {
    box-shadow: rgba(0, 0, 0, 0.25) 0.5rem 0.5rem 0.25rem;
}

/* arrow */
.arrow__container {
    margin-inline: auto;
}

.arrow__image {
    width: 2rem;
}

.arrow__image--translateY5 {
    transform: translateY(5rem);
}

.arrow__image--translateY10 {
    transform: translateY(10rem);
}

/* text-yellow */
.description__text--yellow {
    font-size: 1.5rem;
    color: var(--original-yellow);
}

.description__text--sm {
    font-size: 0.8rem;
}

.description__text--md {
    font-size: 1.5rem;
}

/* header */
.header__main {
    text-wrap: nowrap;
}

.header__main-text {
    font-size: 7.5rem;
    font-weight: 900;
}

.header-line__horizontal {
    height: 4px;
    width: 100%;
    flex-grow: 1 !important;
}

.header-line__horizontal--white {
    background-color: var(--original-white);
}

.header-line__horizontal--black {
    background-color: black;
}

/* main content */
/* side */
#side {
    z-index: -10;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    position: absolute;
    height: 100%;
    left: 0;
}

.side__text--lg {
    writing-mode: vertical-lr;
    /* 180px */
    font-size: 11.25rem;
    font-weight: 800;
    width: max-content;
    height: max-content;
    line-height: 9rem;
    vertical-align: bottom;
    transform: translateX(-2rem);
    color: #282828;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: auto;
}

/* details section */
#details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details__main {
    display: flex;
    gap: 4rem;
}

.details__image-container {
    width: 40%;
}

.details__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    width: 60%;
}

.details__text--name {
    font-size: 3.5rem;
    line-height: 3.3rem;
    border-bottom: 2px solid var(--original-white);
}

.details__text--name-en {
    margin-left: 2rem;
    font-size: 2.5rem;
}

.details__name-space {
    content: " ";
    margin-left: 0.8rem;
}

.details__text--description {
    line-height: 2rem;
}

.details__text--motto {
    font-size: 2rem;
}

/* section general */
.section__header-container {
    display: flex;
    text-wrap: nowrap;
    align-items: center;
    gap: 3rem;
    margin-bottom: 5rem;
}

.section-header__text {
    font-size: 5rem;
}

.favorite__main {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
}

.favorite__row-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.favorite__images-container {
    display: flex;
    align-items: center;
    gap: 3rem;
}

/* favorite section */
.favorite__image {
    width: 50%;
}

.favorite__text {
    margin: auto;
    text-align: center;
}

/* personality section */
.personality__main {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.personality__text {
    text-align: center;
}

/* products section */
.products__main {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 4.5rem;
}

.products__row-container {
    display: flex;
    align-items: center;
    gap: 3.5rem;
}

.products__image-container {
    width: 50%;
}

.products__text-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.products__text--name {
    font-size: 1.5rem;
}

/* target section */
#target {
    display: flex;
    flex-direction: column;
}

.target__main {
    margin: auto;
    padding-inline: 10rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.target__text-container {
    text-align: center;
}

.target__title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.target__title--yellow {
    font-size: 3rem;
}

#content__white {
    width: 100%;
    background-color: var(--original-white);
    color: black;
}

/* decision */
#last {
    display: block;
    margin-inline: auto;
}

#decision {
    margin-top: 100vh;
    margin-bottom: 3rem;
}

.decision__main {
    width: 100%;
    margin: auto;
}

.decision__inrroduction-text-container {
    margin-inline: auto;
    max-width: 60%;
}

.decision__introduction-text {
    font-size: 2rem;
}

.decision__introduction-text--right {
    text-align: end;
}

.decision__image-container {
    width: 50%;
    margin-inline: auto;
}

.decision__bullet-logo {
    text-align: center;
}

.decision__text-container {
    background-color: black;
    color: var(--original-white);
    text-align: center;
    padding: 1rem;
}

.decision__text--md {
    font-size: 2.5rem;
    line-height: 5rem;
}

.decision__text--lg {
    font-size: 3.5rem;
}

.decision__name {
    text-align: center;
    padding: 0.7rem;
    font-size: 2rem;
    font-weight: 800;
}

@media screen and (max-width: 1440px) {

    #content__black,
    #content__white {
        padding-inline: 3%;
    }

    .header__main-text {
        font-size: 6rem;
    }

}

@media screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }


    /* general classes */
    .lg-hidden {
        display: block;
    }

    /* section general */
    .section__header-container {
        margin-bottom: 1.5rem;
    }

    .section-header__text {
        font-size: 3rem;
        line-height: 3.3rem;
    }

    #main {
        padding-inline: 3%;
        width: 80%;
    }

    .header-line__horizontal {
        display: none;
    }

    /* header */
    header {
        padding: 3rem;
    }

    .header__main-text {
        font-size: 4.5rem;
        line-height: 4rem;
    }

    /* details section */
    .details__main {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .details__image-container {
        width: 100%;
    }

    .details__text-container {
        width: 100%;
        gap: 1.5rem;
    }

    .details__text--name {
        font-size: clamp(2rem, 7vw, 5rem);
        line-height: clamp(2rem, 6vw, 5rem);
    }

    .details__text--name-en {
        font-size: clamp(1.5rem, 2vw, 3rem);
        line-height: clamp(1.5rem, 3vw, 3rem);
        margin-left: 1rem;
    }

    .details__text--motto {
        font-size: 1.5rem;
    }

    /* favorite section */
    .favorite__row-container {
        gap: 1rem;
    }

    .favorite__images-container {
        gap: 0;
        margin-bottom: 4rem;
    }

    .favorite__image:first-child {
        z-index: 1;
        transform-origin: top left;
        transform: scale(1.1);
    }

    .favorite__image:last-child {
        z-index: -1;
        transform-origin: top right;
        transform: scale(1.1);
        transform: translateY(4rem)
    }

    /* personality section */
    .personality__main {
        gap: 1rem;
    }

    /* products section */
    .products__row-container {
        flex-direction: column;
        gap: 1rem;
    }


    .products__image-container,
    .products__text-container {
        width: 100%;
    }

    .products__text-container {
        gap: 0.3rem;
    }

    /* target section */
    .target__main {
        padding-inline: 0;
        gap: 1rem;
    }
}

@media screen and (max-width: 375px) {
    header {
        padding-inline: 3%;
    }

    section {
        margin-bottom: 14rem;
    }

    .header__main {
        width: 90%;
    }

    #main {
        width: 100%;
        padding-inline: 0;
    }

    /* details section */
    .details__text--name {
        font-size: clamp(2rem, 7vw, 5rem);
        line-height: clamp(2rem, 6vw, 5rem);
    }

    .details__text--name-en {
        font-size: clamp(1.5rem, 2vw, 3rem);
        line-height: clamp(1.5rem, 3vw, 3rem);
        margin-left: 1rem;
    }
}